<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/main.css" />
    <title>NovaCode - Impiegati</title>
  </head>
  <body>
    <div class="container">
      <div class="title">
        <h1 class="agency">NovaCode S.r.l.</h1>
        <h2 class="main-description">Database degli impiegati</h2>
      </div>
      <div id="react"></div>
      <footer>
        <span class="author"
          >Realizzato da Giorgio Cesaroni, basato su
          <a
            href="https://spring.io/guides/tutorials/react-and-spring-data-rest/"
            target="_blank"
            >questo tutorial</a
          >.</span
        >
        <div class="technologies">
          <div class="thead">
            <div class="td">Tecnologie utilizzate</div>
          </div>
          <div class="tbody">
            <div class="td">Spring Boot</div>
            <div class="td">Spring Data REST</div>
            <div class="td">React.js</div>
          </div>
        </div>
        <div class="languages">
          <div class="thead">
            <td>Linguaggi</td>
          </div>
          <div class="tbody">
            <div class="td">Java</div>
            <div class="td">JavaScript</div>
            <div class="td">Sass</div>
          </div>
        </div>
        <span class="copyright">Fake Copyright © 2021 NovaCode S.r.l.</span>
      </footer>
      <script src="built/bundle.js"></script>
    </div>
  </body>
</html>
